{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'logo1.ico' %}"
      type="image/x-icon"
    />
    <title>MarketMorph</title>
    <link rel="stylesheet" href="{% static 'Home.css' %}" />
    <link rel="stylesheet" href="{% static 'Navbar.css' %}" />
  </head>
  <body>
    <div class="navbar-container">
      <div class="nav" id="navbar">
        <div class="nav-left">
          <a href="home/">
            <div class="nav-logo">
              <img src="{% static 'logo1.png' %}" alt="" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="homepage-container">
      <div class="homepageTop" id="homepageTopId">
        <div class="homepage-left">
          <h1 class="homepageTitle">Discover your perfect match today!</h1>
          <p class="homepageDescription">
            Discover the perfect item for you among our wide selection.
          </p>
          <p class="homepageDescription">
            Say farewell to wasted effort and forgotten necessities thanks to
            our streamlined recommendation system.
          </p>
          <div class="homepageButton">
            <a href="customer/">
              <button class="homepageButton-customer">Customer</button>
            </a>
            <a href="retailer/">
              <button class="homepageButton-retailer">Retailer</button>
            </a>
          </div>
          <div class="geeks"></div>
        </div>
        <div class="homepage-right">
          <img src="{% static 'homepage-img.svg' %}" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
